.donatePage {
    width: 100vw;
    background: no-repeat url("../../images/start_playing_bg.jpg");
    background-size: cover;
    color: white;

    .wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        section {
            padding-top: 67px;
            width: 70%;
            max-width: 1173px;
        
            @media (max-width: 1100px) {
                width: 80%;
            }
        
            @media (max-width: 960px) {
                width: 90%;
            }
        }

        .donationFormAndPacks {
            display: grid;
            grid-template-columns: 1fr 2fr;

            .donation {

                &__title {

                }

                &__form {
                    display: flex;
                    flex-direction: column;

                    & > {
                        display: block;
                    }
                }
            }

            .offer {
                
                .packs {
                    display: flex;
                    justify-content: space-between;

                    .pack {

                    }
                }
            }
        }

        .vipCases {
            &__topic {
                display: grid;
                grid-template-columns: repeat(3, auto);
                align-items: center;
                margin-bottom: 45px;
            }

            &__title{
                font-size: 30px;
                line-height: 37px;
            }

            .cases {
                display: flex;
            }
        }
    }
}