.donatePage {
    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: no-repeat url("../../images/start_playing_bg.jpg");
        background-size: cover;
        color: white;
        section {
            padding-top: 67px;
            width: 80%;
            max-width: 1173px;
        
            @media (max-width: 1100px) {
                width: 90%;
            }
        
            // @media (max-width: 960px) {
            //     width: 90%;
            // }
        }

        .donationFormAndPacks {
            display: flex;
            justify-content: space-between;
            margin-top: 80px;

            .donation {

                &__form {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    width: 384px;
                    height: 534px;

                    .formTopic {
                        display: flex;
                        justify-content: center;
                        gap: 25px;
                        width: 100%;
                    }

                    .formTitle {
                        font-size: 40px;
                        line-height: 48px;
                    }

                    .formField {
                        width: 340px;
                        height: 57px;
                        padding: 0 30px 0 55px;
                        outline: none;
                        box-shadow: none;
                        border: 0 !important;
                        color: rgba(0, 0, 0, 0.5);
                        background: #FCEFEF;
                        background-image: none;
                        border-radius: 42px;
                        font-weight: 700;
                        line-height: 20px;
                    }

                    .select {
                        background-image: url('./../../images/select_arrow.svg');
                        background-repeat: no-repeat;
                        background-position: right 20px top 50%;
                        appearance: none;
                        -ms-appearance: none;
                        -moz-appearance: none;
                        -webkit-appearance: none;

                        &::-ms-expand {
                            display: none;
                        }
                        
                        &:focus {
                            background-image: url('./../../images/select_arrow_2.svg');
                        }

                        .optionWrap {
                            white-space: pre-line !important;
                        }
                    }

                    .choseServer, .enterNickname, .chosePaymentType, .enterAmount {
                        position: relative;
                        &::before {
                            position: absolute;
                            top: 16px;
                            left: 20px;
                        }
                    }
                    
                    .choseServer::before  {
                        content: url('./../../images/location.svg');
                    }

                    .enterNickname::before {
                        content: url('./../../images/nickname_picture.svg');
                    }

                    .chosePaymentType::before {
                        content: url('./../../images/cards.svg');
                    }

                    .enterAmount::before {
                        content: url('./../../images/wallet.svg');
                        top: 18px;
                    }

                    .formSubmit {
                        gap: 30px;
                        width: 217px;
                        height: 46px;

                        &:disabled {
                            background-color: rgba(150, 150, 150, 0.2);
                        }
                    }
                }
            }

            .offer {
                
                .offerTopic {
                    display: flex;
                    gap: 25px;
                    padding: 6px 0 25px 15%;
                }

                .packs {
                    display: flex;
                    align-items: flex-start;
                    gap: 25px;
                    
                    .pack {
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: center;
                        width: 208px;
                        height: 395px;
                        border-radius: 25px;
                        box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.16);

                        &__name {
                            font-size: 18px;
                            line-height: 22px;
                            margin: 10px 0;
                        }

                        &__list {
                            padding: 0;
                        }

                        &__button {
                            margin: auto 0 10px;
                        }
                    }
                    
                    .starterPack {
                        background-color: #D18B3E;
                    }

                    .millionairePack {
                        background-color: #BF7E37;
                    }

                    .richPack {
                        background-color: #BB7A38;
                    }
                }
            }

            button {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 152px;
                height: 42px;
                background-color: rgba(0, 0, 0, 0);
                color: rgba(255, 255, 255, 0.8);
                border: 1px solid rgba(255, 255, 255, 0.8);
                border-radius: 42px;
                cursor: pointer;
                font-size: 17px;
                font-weight: 700;
                line-height: 24px;
                letter-spacing: 0.03em;
                    
                &:hover:enabled {
                    color: rgba(255, 255, 255, 0.8);
                    border: 1px solid rgba(255, 255, 255, 1);
                }
            
                &:active:enabled {
                    filter: drop-shadow(0 0 2px rgba(255, 255, 255, 0.3));
                }
            }
        }

        .vipCases {
            &__topic {
                display: grid;
                grid-template-columns: repeat(3, auto);
                align-items: center;
                margin-bottom: 45px;
            }

            &__title{
                font-size: 30px;
                line-height: 37px;
            }

            .cases {
                display: flex;
            }
        }
    }
}