.mainPage {
    color: white;

    h2 {
        font-size: 40px;
        font-weight: 700;
        line-height: 49px;
        letter-spacing: 0.03em;
    }

    button, a {
        color: white;
    }
    
    .header, .main, .footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        section {
            padding-top: 67px;
            width: 70%;
            max-width: 1173px;
        
            @media (max-width: 1173px) {
                width: 80%;
            }
        
            @media (max-width: 960px) {
                width: 90%;
            }
        }
    }
    
    .header {
        background: no-repeat url("../../images/main_top_bg.jpg");
        background-size: cover;

        .intro {
            display: grid;
            grid-template-columns: repeat(10, 1fr);
            grid-template-rows: repeat(10, 1fr);

            .offer {
                grid-column: 1/10;
                grid-row: 2/6;
                margin-left: 50px;

                &__topic {
                    font-size: 64px; 
                    line-height: 81px;
                    letter-spacing: 0.085em;

                }

                &__description {
                    font-size: 17px;
                    line-height: 30px;
                    white-space: pre-line;
                    margin: 5px 0 30px;

                    @media (max-width: 740px) {
                        white-space: normal;
                    }
                }

                &__links {
                    display: flex;
                    gap: 25px;
                    .link {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-decoration: none;
                        border: 1px solid white;
                        border-radius: 42px;

                        &:hover {
                            box-shadow: 0 0 2px white;
                        }

                        &:active {
                            filter: drop-shadow(0 0 2px rgba(255, 255, 255, 0.3));
                        }
                    }

                    .startPlaying {
                        width: 177px;
                        height: 45px;
                        font-size: 17px;
                    }

                    .promoClip {
                        width: 143px;
                        height: 45px;
                        gap: 7px;

                        &__linkText {
                            :first-child {
                                font-size: 15px;
                                font-weight: 700;
                                line-height: 16px;
                                letter-spacing: 0em;                         
                            }
                            :last-child {
                                font-size: 13px;
                                line-height: 16px;
                            }
                        }
                    }
                }
            }

            .voting {
                grid-column: 2/10;
                grid-row: 7/10;
                margin-top: 30px;

                &__topic {
                    display: flex;
                    justify-content: center;
                    font-size: 25px;
                    font-weight: 700;
                    line-height: 31px;
                    letter-spacing: 0.03em;

                    h3 {
                        margin: 25px 10px;
                        text-align: center;
                    }
                }

                &__votes {
                    display: flex;
                    justify-content: space-evenly;
                }
            }
        }
    }

    .container {
        background: linear-gradient(180deg, #B36525 26.65%, #412A16 100%);
        
        .main {
        
            .serverAndGroup {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                margin-bottom: 35px;
                
                .card {
                    width: 308px;
                    height: 137px;
                    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);

                    &:hover {
                        box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.4);
                    }

                    &:active {
                        background-color: rgba(0, 0, 0, 0.03);
                        box-shadow: -2px 2px 7px rgba(0, 0, 0, 0.4);
                    }
                }

                .server, .group {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    position: relative;
                    text-align: center;

                    & > img {
                        position: absolute; 
                        top: -25px;
                    }

                    &__topic {
                        margin-bottom: 35px;
                    }
                }

                .server {
                    & > img {
                        align-self: flex-start;
                    }
                }

                .group {
                    & > img {
                        align-self: flex-end;
                    }

                    .card {
                        display: flex;
                        justify-content: space-evenly;
                        align-items: center;
                        text-decoration: none;
                    }

                    &__title {
                        font-size: 24px;
                        font-weight: 700;
                        line-height: 29px;
                        text-align: center;
                    }
                }
            }

            .about {
                display: flex;
                flex-direction: column;

                &__topic {
                    display: grid;
                    grid-template-columns: repeat(3, auto);
                    align-items: center;

                    h2 {
                        margin: 0 27px;
                    }
                }

                &__description {
                    padding: 0 100px;
                    font-size: 20px;
                    line-height: 24px;

                    p {
                        margin: 15px 0;
                    }

                    b {
                        letter-spacing: 0.03em;
                    }
                }

                &__offers {
                    display: flex;
                    justify-content: space-between;
                    margin: 35px 0;

                    @media (max-width: 1400px) {
                        flex-direction: column;
                        align-items: center;
                        gap: 15px;
                    }

                    .offer {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: center;
                        text-align: center;
                        width: 308px;
                        height: 171px;
                        padding: 30px 13px;
                        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);

                        &__title {
                            font-size: 25px;
                            line-height: 31px;
                            color: #FFB98E
                        }

                        &__text {
                            font-size: 20px;
                            line-height: 24px;
                        }
                    }
                }
            }

            .news {
                display: flex;
                flex-direction: column;

                &__topic {
                    display: grid;
                    grid-template-columns: repeat(3, auto);
                    align-items: center;
                    margin-bottom: 110px;
                }
            }
        }

        .footer {
            height: 199px;
            background: rgba(0, 0, 0, 0.38);

            .info {
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                padding: 0;

                .serverName {
                    grid-column: 1/5;
                    font-size: 20px;
                    letter-spacing: 0.03em;
                    text-align: center;
                    margin-bottom: 5px;
                    white-space: nowrap;

                    &::first-letter {
                        color: #FF6000;
                    }
                }

                .socialNetworks {
                    display: flex;
                    gap: 10px;
                }

                .documents {
                    line-height: 20px;
                    text-decoration: none;
                }

                .contacts {
                    line-height: 20px;
                }

                .goToTheTop {
                    align-self: center;
                }
            }

            @media (max-width: 1200px) {
                display: flex;
                justify-content: center;

                .info {
                    display: grid;
                    grid-template-columns: repeat(6, 1fr);

                    .serverNameAndNetworks {
                        grid-row: 1/3;
                        grid-column: 1/2;
                    }
    
                    .documents {
                        grid-row: 1/2;
                        grid-column: 3/5;
                        margin-bottom: 10px;
                    }
    
                    .contacts {
                        grid-row: 2/3;
                        grid-column: 3/5;
                    }

                    .goToTheTop {
                        grid-row: 1/3;
                        grid-column: 6/7;
                    }
                }
            }
        }
    }
}
