.startPlayingPage {
    width: 100vw;
    height: 100vh;
    background: no-repeat url("../../images/start_playing_bg.jpg");
    background-size: cover;
    color: white;

    .wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .container {
            width: 70%;
            max-width: 1173px;            

            .topic {
                display: grid;
                grid-template-columns: repeat(3, auto);
                align-items: center;
                margin-bottom: 45px;

                .title{
                    width: 460px;
                    font-size: 64px;
                    line-height: 78px;
                    white-space: nowrap;
                    margin: 0 21px;
                }
            }

            .launchers {
                display: flex;
                justify-content: space-between;

            }

            @media (max-width: 1450px) {
                width: 80%;
            }
        
            @media (max-width: 1250px) {
                width: 90%;
            }

            @media (max-width: 1150px) {
                .topic {
                    margin: 67px 0 15px;
                }

                .launchers {
                    flex-direction: column;
                    align-items: center;
                    gap: 15px;
                    margin-bottom: 35px;
                }
            }
        }
    }

    @media (max-width: 1150px) {
        height: auto;
    }
}