.startPlayingPage {
    width: 100vw;
    height: 100vh;
    background: no-repeat url("../../images/start_playing_bg.jpg");
    background-size: cover;
    color: white;

    .wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .container {
            width: 70%;
            max-width: 1173px;            

            .topic {
                display: grid;
                grid-template-columns: repeat(3, auto);
                align-items: center;
                margin-bottom: 45px;

                @media (max-width: 768px) {
                    display: none;
                    margin: 0;
                }

                .title{
                    width: 460px;
                    font-size: 64px;
                    line-height: 78px;
                    white-space: nowrap;
                    margin: 0 21px;
                }

                &_mobile {
                    display: none;

                    .title{
                        font-size: 56px;
                        line-height: 64px;
                        white-space: nowrap;
    
                        @media (max-width: 600px) {
                            font-size: 44px;
                            line-height: 56px;
                        }

                        @media (max-width: 500px) {
                            font-size: 32px;
                            line-height: 44px;
                        }

                        @media (max-width: 450px) {
                            font-size: 28px;
                            line-height: 32px;
                        }

                        @media (max-width: 380px) {
                            font-size: 20px;
                            line-height: 24px;
                        }
                    }

                    @media (max-width: 768px) {
                        display: grid;
                        grid-template-columns: repeat(3, auto);
                        justify-content: space-between;
                        align-items: center;
                        margin: 107px 0 20px;
                    }
                }
            }

            .launchers {
                display: flex;
                justify-content: space-between;

                @media (max-width: 768px) {
                    &__desktop {
                        display: none;
                    }
                }
            }

            @media (max-width: 1450px) {
                width: 80%;
            }
        
            @media (max-width: 1250px) {
                width: 90%;
            }

            @media (max-width: 1150px) {
                .topic {
                    margin: 107px 0 20px;
                }

                .launchers {
                    flex-direction: column;
                    align-items: center;
                    gap: 15px;
                    margin-bottom: 35px;
                }
            }

            @media (max-width: 768px) {
                width: 100%;
            }
        }

        @media (max-width: 768px) {
            align-items: flex-start;
        }
    }

    @media (min-width: 769px) and (max-width: 1150px) {
        height: auto;
    }
}