.accountPage {
    height: 100vh;
    background: linear-gradient(180deg, #B36525 26.65%, #412A16 100%);

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        color: white;
    }
}